@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  background: #c8e8e9;
}
.home-section {
  margin-top: 6%;
  margin-bottom: 3%;
  width: 90%;
  height: 500%;
  background: #fff;
  border-radius: 12px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.topic-text {
  font-size: 30px;
  font-weight: 600;
  color: #1ea7d3;
  text-align: center;
  padding-bottom: 5%;
}
.title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.title span {
  color: #1ea7d3;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
.title span::before,
.title span::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background: #1ea7d3;
  left: 0;
  bottom: 0;
  border-radius: 10px;
}
.title span::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
p {
  font-size: 18px;
  font-weight: 500;
}
a {
  color: #1ea7d3;
  text-decoration: none;
}
.img img {
  border-radius: 12px;
  width: 100%;
  margin-top: 2%;
}
.auteur {
  border-top-left-radius: 25px;
}
.resume {
  border-top-right-radius: 25px;
}

.header td {
  font-size: 18px;
  font-weight: 500;
  border-bottom: solid 3px #1ea7d3;
  text-align: center;
  color: #1ea7d3;
}

.data td {
  border-bottom: solid 3px #1ea7d3;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}
.data td.summary {
  text-align: justify;
}
.addbooklink {
  font-size: 2rem;
  color: #1ed375;
  text-decoration: none;
  /* border: solid 1px #1ed375;
  border-radius: 5px;
  background-color: #1ed375; */
  padding: 1%;
  transition: all 0.4s ease;
}
.addbooklink:hover {
  color: #116c3d;
  /* background-color: #116c3d;
  border: solid 1px #116c3d; */
  transition: all 0.4s ease;
}
.modifbooklink {
  font-size: 2rem;
  color: blue;
  text-decoration: none;
  /* border: solid 1px #11356c;
  border-radius: 5px;
  background-color: #11356c; */
  padding: 1%;
  transition: all 0.4s ease;
}
.modifbooklink:hover {
  color: #000;
  /* background-color: #091c39;
  border: solid 1px #091c39; */
  transition: all 0.4s ease;
}
.deletebooklink {
  font-size: 2rem;
  color: red;
  text-decoration: none;
  /* border: solid 1px #d31e1e;
  border-radius: 5px;
  background-color: #d31e1e; */
  padding: 1%;
  transition: all 0.4s ease;
}
.deletebooklink:hover {
  color: #000;
  /* background-color: #791111;
  border: solid 1px #791111; */
  transition: all 0.4s ease;
}
